<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.drelovey.learn">

    <application

        tools:targetApi="n">

        <activity android:name=".TestActivity2" />

    </application>

</manifest>