<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.drelovey.learn">

    <application

        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">

        <activity android:name=".ui.learn.view.MeasureLayoutActivity" />

        <activity android:name=".ui.learn.view.ShaderActivity" />

        <activity android:name=".ui.interview.view.InterviewActivity" />
        <activity android:name=".ui.interview.view.CollectionActivity" />
        <activity android:name=".ui.interview.view.ReflectActivity" />
        <activity android:name=".ui.interview.view.DeadLockActivity" />

    </application>

</manifest>